{% extends 'base.html' %}
{% block title %}Recipe List{% endblock %}
{% block locator %}
	<p style="padding-top: 0.05rem; margin-bottom: -0.05rem; color: #ABBA00"> Now at: Recipe List</p>
{% endblock %}
{% block content %}
	<div style="margin: auto; width: 85%; text-align: center; padding: 30px; padding-top: 30px;">
		<ul>
			<h3 style="color:green;">Available Recipes:</h3>
			<div style="margin: auto; width: 50%;">
				<ul style="text-align: left; padding: 15px; padding-left: 45%;">
					{% for recipe in recipes  %}
						<li>
							<a href="{{recipe.get_absolute_url}}"><b>{{ recipe.name }}</b></a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</ul>
	</div>
{% endblock %}