{% extends 'base.html' %}
{% block title %}
	{% with recipeentry=recipeingredients.0.recipe.name %}
		{{ recipeentry }}
	{% endwith %}
{% endblock %}
{% block locator %}
	{% with recipeentry=recipeingredients.0.recipe.name %}
		<p style="padding-top: 0.05rem; margin-bottom: -0.05rem; color: #BC7C33"> Now at: {{recipeentry}}</p>
	{% endwith %}
{% endblock %}
{% block content %}
	{% with recipeentry=recipeingredients.0.recipe.name %}
		<div style="margin: auto; width: 85%; text-align: center; padding: 30px;">
			<ul>
				<h3>Entry: <b>{{ recipeentry }}</b></h3>
				{% with recipeauthor=recipeingredients.0.recipe.author%}
					Author: {{recipeauthor}}
				{% endwith %}
				<br>
				Ingredients Required:
				<div style="margin: auto; width: 50%;">
					<ul style="text-align: left; padding: 15px; padding-left: 35%;">
					{% for item in recipeingredients %}
						<li style="margin: auto">
							{{ item.quantity }} {{ item.ingredient.name }}
						</li>
					{% endfor %}
					</ul>
				</div>
				<a href="{% url 'ledger:recipeList' %}">Return To List</a>
			</ul>
		</div>
	{% endwith %}
{% endblock %}